extends header

block content
  div.container-fluid.index-content
    div.row.height-full
      div.col-md-3.index-left.height-full
        h3.index-sider-bar-title 列表
        ul.index-sider-bar-ul
          li
            span#addnewapi +
          li asdfs
          li asdfs
          li asdfs
          li asdfs
          li asdfs
          li asdfs
      div.col-md-9.height-full 右侧内容


  script(src='lib/js/jquery.js')
  script(src='lib/js/bootstrap.js')
  script(src='/js/index.js')

