html,
body{
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font: 14px "微软雅黑", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.position-abs{
  position: absolute;
}
.position-rel{
  position: relative;
}
.position-sta{
  position: static;
}
.height-full{
  height: 100%;
}
#header{
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #00B7FF;
} 
#header .title{
  margin-top: 15px;
}
.index-left{
  border-right: 1px solid #999;
}
.index-content{
  height: 100%;
  margin-top: -80px;
  padding-top: 80px;
  box-sizing: border-box;
}
.index-sider-bar-title{
  font-size: 1rem;
  line-height: 1.75rem;
  border-bottom: 1px solid #00B7FF;
}
.index-sider-bar-ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.index-sider-bar-ul li{
  line-height: 1.5em;
}
.index-sider-bar-ul li:hover{
  background: #00B7FF;
  color: #0074D9;
}
#api-list span{
  display: inline-block;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
}
#api-list a{
  float: right;
}
#api-list i{
  color: #f00;
}
#api-list li{
  height: 30px;
  line-height: 30px;
}