html,
body{
  width: 100%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font: 14px "微软雅黑", "Lucida Grande", Helvetica, Arial, sans-serif;
}
.position-abs{
  position: absolute;
}
.position-rel{
  position: relative;
}
.position-sta{
  position: static;
}
#header{
  height: 80px;
  line-height: 80px;
  border-bottom: 1px solid #00B7FF;
} 
#header .title{
  margin-top: 15px;
}
.index-left{
  background: #f0f0f0;
}